<div class="container pt-3">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeHolder="Introduzca la busqueda"
      #input
    />
  </mat-form-field>
  <div class="shadow">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">
          {{ element.personaId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="oficina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Oficina</th>
        <td mat-cell *matCellDef="let element">
          {{ element.oficinaId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let element">
          {{ element.categoriaTrabajadorId }}
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsToDisplay.length"
        >
          <div
            class="example-element-detail d-flex justify-content-center"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="my-4 text-left">
              <h1 class="display-h5">
                Datos trabajadores
              </h1>
              <br />

              <strong class="mr-3"> Sueldo base:</strong
              ><span>{{ element.sueldoBase + "€"}}</span
              ><br />
              <strong class="mr-3"> Fecha entrada:</strong
              ><span>{{ element.fechaEntrada | date: 'dd/MM/yyyy' }}</span
              ><br />
              <span *ngIf="element.fechaSalida !== null && element.fechaSalida !== undefined">
                <strong class="mr-3"> Fecha salida:</strong
                ><span>{{ element.fechaSalida | date: 'dd/MM/yyyy' }}</span
                ><br />
              </span>
              <span *ngIf="element.fechaBaja !== null && element.fechaBaja !== undefined">
                <strong class="mr-3"> Fecha baja:</strong
                ><span>{{ element.fechaBaja }}</span
                ><br />
              </span>
              <span *ngIf="element.motivoDespido !== null && element.motivoDespido !== undefined">
                <strong class="mr-3"> Motivo despido:</strong
                ><span>{{ element.motivoDespido }}</span
                ><br />
              </span>
              <span *ngIf="element.motivoBaja !== null && element.motivoBaja !== undefined">
                <strong class="mr-3"> Motivo baja:</strong
                ><span>{{ element.motivoBaja }}</span
                ><br />
              </span>
              <strong class="mr-3"> Oficina:</strong
              ><span>{{ element.oficinaId }}</span
              ><br />
              <strong class="mr-3"> Persona:</strong
              ><span>{{ element.personaId }}</span
              ><br />
              <strong class="mr-3"> Categoría:</strong
              ><span>{{ element.categoriaTrabajadorId }}</span
              ><br />
              <button *ngIf="this.editar === true"
                mat-stroked-button
                class="w-100 my-4"
                (click)="editarTrabajador(element.id)"
                color="accent"
              >
                <i class="material-icons">edit</i>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
    <div class="col-md-12 text-center" *ngIf="resultados === 0">
      <p><em>Sin resultados</em></p>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <div class="fab-container m-2" *ngIf="crearBotonFixed === 'true'">
    <button mat-fab class="fab-toggler" (click)="onToggleFab()">
      <i class="material-icons" [@fabToggler]="{ value: fabTogglerState }"
        >add</i
      >
      <!-- Animation here -->
    </button>
    <div [@speedDialStagger]="buttons.length">
      <!-- and here -->
      <button (click)="accion(btn.accion)"
        *ngFor="let btn of buttons"
        mat-mini-fab
        class="fab-secondary"
        color="secondary"
      >
        <i class="material-icons">{{
          btn.icon
        }}</i>
      </button>
    </div>
  </div>
</div>
