<div class="container py-5">
    <h1 class="display-h5">Trabajadores</h1>
    <post-tajamar-trabajadores crearBotonFixed=false></post-tajamar-trabajadores>
    <div class="w-100 d-flex justify-content-center"><button mat-stroked-button (click)="crearTrabajador()" class="w-50 m-3">Crear trabajador</button></div>
    <h1 class="display-h5 mt-4">Categorías</h1>
    <post-tajamar-categorias crearBotonFixed=false></post-tajamar-categorias>
    <div class="w-100 d-flex justify-content-center"><button mat-stroked-button (click)="crearCategoria()" class="w-50 m-3">Crear categoría</button></div>
    <h1 class="display-h5 mt-4">Oficinas</h1>
    <post-tajamar-oficinas crearBotonFixed=false></post-tajamar-oficinas>
    <div class="w-100 d-flex justify-content-center"><button mat-stroked-button (click)="crearOficina()" class="w-50 m-3">Crear oficina</button></div>
</div>